<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/pregledTrgovacaPoPretrazi.css' />
    <link rel='stylesheet' href='/stylesheets/headerKupac.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Trgovine</title>



</head>
<body>
<div class="header">
    <header class="container-fluid">
        <div class="h row pb-3">
            <h1 class="text-center pt-3 display-3 text-white" style="text-shadow: 2px 2px black">WEB shop</h1><br>
            <div class="f-cont">

                <p class="fs-6 text-white" style="text-shadow: 1px 1px black">Pretražujte i uživajte u kopovini</p>

            </div>
        </div>
    </header>

    <navbar class="okvir-navbara">
        <!--vase narudzbe, trgovine, urediprofil*/-->
        <div class="dio prvi border-end border-white" onclick="window.location.href='/kupac/naslovna'">
            <div class="p-dio">
                <p class="">Naslovna</p>
            </div>

        </div>
        <div class="dio prvi border-end border-white" onclick="prikaziDD2()">
            <div class="p-dio">
                <p class="">Trgovine</p>
            </div>
            <ul class="lista-dd" id="lista-dd2">
                <li class="p-3 text-center" onclick="window.location.href='/kupac/pregledTrgovaca'">Trgovine</li>
                <li class="p-3 text-center" onclick="window.location.href='/chat/kupac'">Chat</li>

            </ul>

        </div>
        <div class="dio prvi border-end border-white" onclick="prikaziDD()">
            <div class="p-dio">
                <p class="">Narudžbe</p>
            </div>
            <ul class="lista-dd" id="lista-dd">
                <li class="p-3 text-center" onclick="window.location.href='/kupac/prikaziKorpu'">Korpa</li>
                <li class="p-3 text-center" onclick="window.location.href='/kupac/prikaziNarudzbe'">Narudžbe</li>

            </ul>
        </div>
        <div class="dio prvi" onclick="prikaziDD3()">
            <div class="p-dio">
                <p class="">Profil</p>
            </div>
            <ul class="lista-dd" id="lista-dd3">
                <li class="p-3 text-center" onclick="window.location.href='/kupac/urediProfilKupca'">Uredi profil</li>
                <li class="p-3 text-center" onclick="window.location.href= '/kupac/odjava'">Odjavi se</li>

            </ul>
        </div>

    </navbar>

    <div class="select-bar mt-3 bg-light mx-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle kategorije-dugmic" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Kategorije trgovaca
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="/kupac/pregledTrgovaca">Sve trgovine</a></li>
                <%for(let i=0;i<kategorijeTrgovca.length;i++) {%>
                <li><a class="dropdown-item" href="/kupac/pregledTrgovaca/<%=kategorijeTrgovca[i].kategorija%>/1"><%=kategorijeTrgovca[i].kategorija%></a></li>
                <%}%>
            </ul>
        </div>

        <form method="post" action="/kupac/pregledTrgovacaPoPretrazi">
            <input type="text" id="search" name="search" placeholder="Trazi..." class="search-p rounded-3 p-1 me-1">
            <button class="search-b btn btn-primary" onclick="pretrazi()">Trazi</button>
        </form>


    </div>

</div>

<main class="my-3 py-3">
    <%var duzina = "";if(trgovci.trenutni.length < 15) duzina = trgovci.trenutni.length; else duzina = 15;
    for(let i=0;i<duzina;i++) {%>
    <div class="card m-2">
        <img src="/images/profilneSlikeTrgovaca/<%=trgovci.trenutni[i].slika%>" class="card-img-top slika" alt="...">
        <div class="card-body text-center" style="display: flex;flex-direction: column;justify-content: space-between">
            <h5 class="card-title"><%=trgovci.trenutni[i].naziv%></h5>
            <p class="card-text"><%=trgovci.trenutni[i].email%></p>
            <a href="#" class="btn btn-primary c-button">Pogledaj trgovinu</a>
        </div>
    </div>

    <%}%>


</main>




<nav aria-label="Page navigation example" class="paginacija">
    <ul class="pagination">

        <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/1">Početna</a></li>
        <%if (trgovci.prethodni !== 0 && pocetak+15 < trgovci.trenutni.length) {%>
        <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/<%=trgovci.prethodni%>"><%=trgovci.prethodni%></a></li>
        <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/<%=trgovci.sljedeci-1%>"><%=trgovci.sljedeci-1%></a></li>
        <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/<%=trgovci.sljedeci%>"><%=trgovci.sljedeci%></a></li>
        <%} else if(trgovci.prethodni === 0) {%>
        <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/<%=trgovci.sljedeci-1%>"><%=trgovci.sljedeci-1%></a></li>
        <%if (pocetak+15 < trgovci.ukupnoTrgovaca) {%>
        <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/<%=trgovci.sljedeci%>"><%=trgovci.sljedeci%></a></li>
        <%} if (pocetak+30 < trgovci.ukupnoTrgovaca) {%>
        <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/<%=trgovci.sljedeci+1%>"><%=trgovci.sljedeci+1%></a></li>
        <%}%>

        <%} else if(pocetak >= trgovci.ukupnoTrgovaca-15) {%>
            <% if (pocetak-30 >= 0) {%>
            <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/<%=trgovci.prethodni-1%>"><%=trgovci.prethodni-1%></a></li>
            <%} if (pocetak-15 >= 0) {%>
            <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/<%=trgovci.prethodni%>"><%=trgovci.prethodni%></a></li>
            <%}%>

            <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/<%=trgovci.prethodni-1%>"><%=trgovci.sljedeci-1%></a></li>

        <%}%>
        <li class="page-item"><a class="page-link" href="/kupac/pregledTrgovacaPoPretrazi/<%=pretraga%>/<%=Math.floor(trgovci.trenutni.length/15)+1%>">
                Posljednja</a></li>

        <!-- Math.Floor(brojTrgovaca/15)+1-->

    </ul>
</nav>

<script src="/javascripts/navbarKupac.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>